body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #35282824;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.circle img {
    width: 100%;
    height: auto;
}

